<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maker.hanger">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Hanger">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.maker.hanger"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailedInfoActivity"
            android:exported="true"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"/>
        <activity
            android:name=".ModifyUserActivity"
            android:exported="true"/>
        <activity
            android:name=".ModifyClothesActivity"
            android:exported="true"/>
        <activity
            android:name=".FindPasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".WashingMethodActivity"
            android:exported="true"/>
    </application>

</manifest>